.no-margin {
    margin: 0;
}

.player-size {
    width: 100vw; 
    height: 100vh;
}

.vjs-current-time {
    display: block !important;
    padding: 0 !important;
}

.vjs-duration {
    display: block !important;
    padding: 0 !important;
}