.no-margin {
    margin: 0;
}

.player-size {
    width: 100vw; 
    height: 100vh;
}

.vjs-current-time {
    display: block !important;
    padding: 0 !important;
}

.vjs-duration {
    display: block !important;
    padding: 0 !important;
}

.vjs-big-play-button {
    margin: 0 !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    margin-right: -50% !important;
    transform: translate(-50%, -50%) !important;
}

.vjs-paused.vjs-has-started .vjs-big-play-button {
    display: block;
}